@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.card{
    width: 18rem;
    color: white;
}

#card-container{
    background-color: #3B7ED9;
    box-shadow: 0px 3px #3049b9;
}

.card-title{
    font-size: 3.5rem;
    font-family: 'Lato', sans-serif;
}

.condition-icon{
    width: 8rem;
}


.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 50px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details .icons{
    color: #06283d;
    font-size: 26px;
    margin-top: -5px;
    margin-right: 2px;
}

.weather-details span{
    color: #06283d;
    font-size: 15px;
    font-weight: 500;
}

.weather-details p{
    color: #06283d;
    font-size: 13px;
    font-weight: 500;
}
